body{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

/* common shared styles starts */
.btn{
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size:  20px;
    font-weight: 700;
    padding: 20px 43px;
    border: 0;
}
.img-background{
    width: 460px;
    height: 530px;
    border-radius: 300px 300px 0px 0px;
}


/* header section styles */

/* nav section styles starts */
.nav-bar{
    width: 100%;
    height: 80px;
    background-color: rgba(240, 91, 116, 0.2);
    display: flex;
    justify-content: space-evenly;
}
.logo{
    height: 50px;
    width: 45px;
    border: 13px;
    padding-top: 15px;
}
.search-bar{
    display: flex;
    gap: 5px;
    align-items: center;
}
.search-bar input{
    height: 30px;
    width: 250px;
    border-radius: 5px;
}
.menu{
    list-style-type: none;
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 20px;
}
.menu a{
    text-decoration: none;
    color: rgb(150, 144, 144);
}

/* banner section styles starts here */
.banner{
    height: 100vh;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-evenly;
}

.banner-title{
    color: #272727;
    font-size: 80px;
    font-weight: 700;
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    line-height: 20px;
    line-height: 30px;
}
.banner-img img{
    height: 100%;
}

/* main section styles starts */

/* feature-section styles starts */
.featured-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.featured-desc{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.featured-images{
    display: flex;
    gap: 10px;
    margin: 0px 70px;
}
.image1{ 
    position: relative;
    background-color: rgba(196, 28, 109, 0.15);
 }
 .image2{ 
    width: 380px;
    background: rgba(5, 151, 160, 0.15);
 }
 .image3{
    position: relative;
    background: rgba(71, 125, 17, 0.15);
 }

 .image1 img{
    position: absolute;
    bottom: 0;
    margin: 0px 10px;
    width: 310px;
    height: 428px;

}
.image2 img{

    width: 370px;
    height: 370px;
    margin: 140px 20px 200px 30px;
}
.image3 img{
    position: absolute;
    margin: 0px 40px;
    bottom: 0;
    width: 314px;
    height: 471px;
}
.img-title{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

/* deal-section styles starts */
.deal-section{
    height: 100vh;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin: 200px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.deal-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;

}
.deal-title span{
    color: #E55473;
}
.deal-desc{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.signup-btn{
    margin: 0px 180px 0px 160px;
}
.instagram-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.insta-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}
.insta-desc{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
.instagram-images{
    display: flex;
    gap: 15px;
    align-items: center;
    padding-top: 0;
    margin: 0px 50px 0px 50px;
}
.insta-image{
    width: 342px;
    height: 396px;
}

